<div class="flex items-center justify-center min-h-screen bg-gray-100">
  <div class="px-8 py-6 mt-4 text-left bg-white shadow-lg">
    <div class="flex justify-center">
      <svg xmlns="http://www.w3.org/2000/svg" class="w-20 h-20 text-blue-600" fill="none" viewBox="0 0 24 24"
                                                                                          stroke="currentColor">
        <path d="M12 14l9-5-9-5-9 5 9 5z" />
        <path
          d="M12 14l6.16-3.422a12.083 12.083 0 01.665 6.479A11.952 11.952 0 0012 20.055a11.952 11.952 0 00-6.824-2.998 12.078 12.078 0 01.665-6.479L12 14z" />
        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                                             d="M12 14l9-5-9-5-9 5 9 5zm0 0l6.16-3.422a12.083 12.083 0 01.665 6.479A11.952 11.952 0 0012 20.055a11.952 11.952 0 00-6.824-2.998 12.078 12.078 0 01.665-6.479L12 14zm-4 6v-7.5l4-2.222" />
      </svg>
    </div>
    <h3 class="text-2xl font-bold text-center">Login to your account</h3>
    <form
      [formGroup]="loginForm"
      (ngSubmit)="onSubmit()"
      *ngIf="isLoginMode"
      >
      <div class="mt-4">
        <div>
          <label class="block" for="email">Email</label>
          <input type="text"
                 placeholder="Email"
                 id="user_login"
                 name="user_login"
                 formControlName="user_login"
                 [ngClass]="{ 'border-2 border-rose-600': requestSent && fl.user_login.errors }"
                 class="w-full px-4 py-2 mt-2 border rounded-md focus:outline-none focus:ring-1 focus:ring-blue-600">
          <span *ngIf="requestSent && fl.user_login.errors?.required"
            class="text-xs tracking-wide text-red-600">Please enter a valid username.</span>
        </div>
        <div class="mt-4">
          <label class="block">Password</label>
          <input type="password" 
                 placeholder="Password"
                 id="password"
                 formControlName="password"
                 [ngClass]="{ 'border-2 border-rose-600': requestSent && fl.password.errors }"
                 class="w-full px-4 py-2 mt-2 border rounded-md focus:outline-none focus:ring-1 focus:ring-blue-600">
        </div>
        <div class="flex items-baseline justify-between">
          <button class="px-6 py-2 mt-4 text-white bg-blue-600 rounded-lg hover:bg-blue-900">Login</button>
          <a href="#" class="text-sm text-blue-600 hover:underline">Forgot password?</a>
        </div>
      </div>
    </form>
  </div>
</div>

<div class="w-full max-w-ws mx-auto">
  <div class="">
    <div class="bg-white shadow-md rounded px-8 pt-6 pb-8 mb-4 flex flex-col">
      <form
        *ngIf="!isLoginMode"
        [formGroup]="signupForm"
        (ngSubmit)="onSubmit()"
        >
        <div class="mb-4">
          <label 
            class="block text-grey=darke"
            for="user">Username *</label>
          <input
            type="text"
            id="user"
            class=""
            name="user"
            formControlName="user"
            [ngClass]="{ 'is-invalid': requestSent && fsu.user.errors }"
            >
            <div
              *ngIf="requestSent && fsu.user.errors"
              class="invalid-feedback">
              <span
                class="help-block"
                *ngIf="fsu.user.errors.required">Please enter a valid username.</span>
            </div>
        </div>
        <div class="form-group">
          <label for="password_1">Password *</label>
          <input
            type="password"
            id="password_1"
            class="form-control"
            name="password_1"
            formControlName="password_1"
            [ngClass]="{ 'is-invalid': requestSent && fsu.password_1.errors }"
            >
            <div
              *ngIf="requestSent && fsu.password_1.errors"
              class="invalid-feedback">
              <span
                class="help-block"
                *ngIf="fsu.password_1.errors.required">Please enter a valid password.</span>
            </div>
        </div>

        <div *ngIf="!isLoginMode">
          <div class="form-group">
            <label for="email_address1">Email *</label>
            <input
              type="text"
              id="email_address1"
              class="form-control"
              name="email_address1"
              [ngClass]="{ 'is-invalid': requestSent && fsu.email_address1.errors }"
              formControlName="email_address1"
              >
              <div
                *ngIf="requestSent && fsu.email_address1.errors"
                class="invalid-feedbacnpk">
                <span
                  class="help-block"
                  *ngIf="fsu.email_address1.errors.required ||
                  fsu.email_address1.errors.email">Please enter a valid email address.</span>
              </div>
          </div>
          <div class="form-group">
            <label for="email_address2">Repeat email *</label>
            <input
              type="text"
              id="email_address2"
              class="form-control"
              name="email_address2"
              [ngClass]="{ 'is-invalid': requestSent && fsu.email_address2.errors }"
              formControlName="email_address2"
              >
              <div
                *ngIf="requestSent && fsu.email_address2.errors"
                class="invalid-feedback">
                <span
                  class="help-block"
                  *ngIf="fsu.email_address2.errors.required ||
                  fsu.email_address2.errors.email">Please enter a valid email address.</span>
                <span
                  class="help-block"
                  *ngIf="fsu.email_address2.errors.mustMatch">Email addresses do not match.</span>
              </div>
          </div>
        </div>

        <div class="d-flex align-items-center mt-4">
          <button
            class="btn btn-primary"
            >Register
          </button>
          <div
            class="ml-3">
            <a
              routerLink="/"
              (click)="toggleAuth()">Back to login</a>
          </div>
        </div>
      </form>

      <form
        [formGroup]="loginForm"
        (ngSubmit)="onSubmit()"
        *ngIf="isLoginMode"
        >
        <div class="form-group">
          <label for="user_login">Username *</label>
          <input
            type="text"
            id="user_login"
            class="form-control"
            name="user_login"
            formControlName="user_login"
            [ngClass]="{ 'is-invalid': requestSent && fl.user_login.errors }"
            >
            <div
              *ngIf="requestSent && fl.user_login.errors"
              class="invalid-feedback">
              <span
                class="help-block"
                *ngIf="fl.user_login.errors.required">Please enter a valid username.</span>
            </div>
        </div>
        <div class="form-group">
          <label for="password">Password *</label>
          <input
            type="password"
            id="password"
            class="form-control"
            name="password"
            formControlName="password"
            [ngClass]="{ 'is-invalid': requestSent && fl.password.errors }"
            >
            <div
              *ngIf="requestSent && fl.password.errors"
              class="invalid-feedback">
              <span
                class="help-block"
                *ngIf="fl.password.errors.required">Please enter a valid password.</span>
            </div>
        </div>

        <div class="d-flex align-items-center mt-4">
          <button
            class="btn btn-primary"
            >Login
          </button>
        </div>
      </form>
    </div>

    <div
      class="mt-4"
      *ngIf="requestSent">
      <div
        class="alert alert-danger"
        *ngIf="errorMsg !== '' && errorMsg != null">
        <p>{{ errorMsg }}</p>
      </div>
      <div
        class="alert alert-success"
        *ngIf="errorMsg === ''">
        <p *ngIf="isLoginMode">Login successful</p>
        <p *ngIf="!isLoginMode">User account successfully created. Please check your emails!</p>
      </div>
    </div>

    <div *ngIf="isLoginMode">
      <div class="border  pl-5 pr-5 pt-4 pb-4 rounded mt-4">
        <span>No account yet? <a
          routerLink="/registration"
          (click)="toggleAuth()">Create one.</a></span>
      </div>
    </div>

  </div>
</div>
